{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'core/style.css' %}">
<head>
    <meta charset="UTF-8">
    <title>SocialSite</title>
</head>
<body>
    <nav>
    <h1>SocialSite</h1>
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}</p>
        <a href="/logout/">Logout</a>
    {% else %}
        <a href="/login/">Login</a>
        <a href="/register/">Register</a>
    {% endif %}
</nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>